.navbar {
    background: #1134d3;
    padding-left: 50px;
    padding-top: ;
}

.navbar-brand {
    color: aliceblue ;
}
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.d-flex {
    padding-left: 650px;
}
#img {
    height: 400px;
    width: 100%;
    margin: 0 auto;
}

#heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 40px;
}

#heading3 {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}

#button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    background-color: #00ccff81;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 600;
}

#perkenalan {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

#p1 {
    width: 1000px;
    margin: 0 auto;
    text-align: justify;
}

.skill {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#a1 {
    width: 300px;
    padding: 20px;
    text-align: left;
}

#a2 {
    width: 300px;
    padding: 20px;
    text-align: left;
}

#a3 {
    width: 300px;
    padding: 20px;
    text-align: left;
}

.kontak {
    text-align: center;
    width: 100px;
    margin: 60px auto;
    margin-bottom: 100px;
}

input[type="text"],
select,
textarea {
  width: 300px;
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 10px;
}

input[type="submit"] {
  /* background-color: #ff9900;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer; */
  width: 100%;
  /* transform: translateX(-50%); */
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(2, 2, 2);
  background-color: #00ccff81;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #ffc164;
}

.footer {
    height: 50px;
    width: 100%;
    padding-top: 4px;
    background-color: #00ccff81;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 600;
}